<div class="wraper" >
  <h1>todo list</h1>
  <div class="container" *ngIf="empty; else noText">
    <input #newTask id="inp" class="inp" type="text" placeholder="Task" />
    <button id="add" class="add" (click)="addItem(newTask.value); newTask.value =''">ADD</button>
    <br>
    <div class="search">
      <button (click)="sort('date')" class="sort"><i class="fas fa-sort"></i></button>
      <button (click)="sort('priority')" class="sort"><i class="fas fa-sort-numeric-up"></i></button>
      <button (click)="sort('description')" class="sort"><i class="fas fa-sort-alpha-up"></i></button>
      <input [(ngModel)]="filterSearch" class="inp-search" type="text" placeholder="search">
      <button id="btnSearch" class="sort"><i class="fas fa-filter"></i></button>
    </div>
    

    <div class="lists"    
     *ngFor="let task of todos | orderBy: field: type: counter " >  
      <ng-container *ngIf="!filterSearch || task.description.match(filterSearch)">  
        <div [ngStyle]="{'background-color': task.check === true ? 'rgb(226, 230, 232)':''}" class="list">
          <div>{{task.date | date: 'dd:MM:yyyy'}} <br> {{task.date | date:'HH:mm:ss'}}</div>
          <div class="priority">{{task.priority}}</div>
          <div class="priority-change">
            <button class="priority-up" (click)="upPriority(task)"><i class="fas fa-angle-up"></i></button>
            <button class="priority-down" (click)="downPriority(task)"><i class="fas fa-angle-down"></i></button>
          </div>
          <div class="tasks">{{task.description}}</div>
          <button (click)="openEdit(task)" class="edit"><i class="fas fa-user-edit edit-icon"></i></button>
          <button (click)="checked(task)"[ngStyle]="{'background-color': task.check === true ? 'rgb(94, 185, 230)':''}">ok</button>
          
          <button (click)="openDelete(task)" class="delete"><i class="fas fa-trash-alt delete-icon"></i></button>
        </div>  
      </ng-container>
    </div>

  </div>

  <app-edit *ngIf="isEditVisible" [task]="curentTask" (closeEvent)="onCloseEdit($event)"></app-edit>
  <app-delete *ngIf="isDeleteVisible" [task]="curentTask" (closeEvent)="remove($event)" ></app-delete>

  <ng-template #noText>
    <div id="myModal" class="modal-window">
      <div class="modal-content">
        <p>Поле пустое</p>
        <button id="btn-ok" (click)="ok()" class="modal-btn btn-ok">OK</button>
      </div>
    </div>
  </ng-template>
</div>